<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>酒店详情</title>
<style>

  
</style>
</head>
<body>



<div>
  <h1 th:text="${hotel.name}" ></h1>
  <p>酒店地址：<label th:text="${hotel.address}"></label></p>
  
  <p>星级：<label th:text="${hotel.starLevel}"></label>星</p>

  <p>评分：<label th:text="${hotel.rate}"></label>/5</p>
  
  <p>客房数量：<label th:text="${hotel.roomNum}"></label></p>
  <p>详细介绍：<label th:text="${hotel.description}"></label></p>
  <hr/>
</div>

<div th:each="room:${rooms}">
 <p>
   <label>房型：</label><label th:text="${room.type}"></label>
   <label>价格：</label><label th:text="${room.price}"></label>
   <label>床数量：</label><label th:text="${room.bedNum}"></label>
 </p>
</div>
</body>
</html>